@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fade-in animation */
@layer utilities {
  .animate-fadein {
    animation: fadeIn 0.7s ease-out forwards;
  }

  .animate-fadein-slow {
    animation: fadeIn 1.2s ease-out forwards;
  }

  .animate-slidein {
    animation: slideIn 0.7s ease-out forwards;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.98); }
    to { opacity: 1; transform: scale(1); }
  }

  @keyframes slideIn {
    from { opacity: 0; transform: translateY(-25px); }
    to { opacity: 1; transform: translateY(0); }
  }
}
